@media screen and (max-width: 1180px) and (min-width: 390px) {
    table caption {
        font-size: 1.5em;
    }

    /* Hide table header. */
    table thead {
        display:none
    }

    /* Force table to not be like tables. */
    table tr {
        display: block;
        margin-bottom: 1em;
        border-style: solid;
    }

    /* Behave like a "row" */
    table td {
        display: block;
        text-align: right;
        border-bottom: 0px;
        border-style: dotted;
    }

    /* Behave like a table header */
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
        border: 1px solid #000000;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
}


@media screen and (max-width: 390px) {
    table caption {
        font-size: 1.5em;
    }

    /* Hide table header. */
    table thead {
        display:none
    }

    /* Force table to not be like tables. */
    table tr {
        display: block;
        margin-bottom: 1em;
        border-style: solid;
    }

    /* Behave like a "row" */
    table td {
        display: block;
        text-align: right;
        border-bottom: 0px;
        border-style: dotted;
    }

    /* Behave like a table header */
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
        border: 1px solid #000000;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
}


